<div ng-controller="MediaProtect.Dashboard.IndexDashboardController" ng-cloak>
    <umb-load-indicator ng-if="reindexing"></umb-load-indicator>
  <mediaprotect-licenseinfo></mediaprotect-licenseinfo>
    <div ng-show="loaded">
      <h3>
        <localize key="mediaprotectIndexDashboard_title">indexer</localize>
      </h3>
      <p>{{model.indexStatusMessageIntro}}</p>
      <p>{{model.indexStatusMessageItemsInIndex}} : <strong>{{model.itemsInIndex}}</strong></p>
      <p>{{model.indexStatusMessageIndexLastUpdated}} : <strong>{{model.lastUpdateDate}}</strong></p>
      <p>
        <button class="btn btn-success" ng-click="reindex()"><localize key="mediaprotectIndexDashboard_reIndex">Rebuild the mediaprotect index</localize></button>
      </p>
    </div>
</div>